<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MoHCC Funding Application ({{this.global.role}}s section)</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- <p class="instructions">Good day, here are the latest patients appealing for help. You can click on a patient to view their needs and more patient details</p> -->
  <ion-grid>
         <ion-row>
          <ion-col col-12 style="margin-left: auto;margin-right: auto;display: block;text-align:center;">
            <h1>Fees Needs</h1>
            <ion-list>
                <button ion-item *ngFor="let p of fs" #item (click)="viewMore(item,p.id)">
                  <h2><b>ZWL${{p.amount}} </b></h2>
                  <span class="job-city">{{p.note}}</span>
                  <br>
                </button>
              </ion-list>

              <h1>Fees Donations</h1>
              <div class="row header">
                <div class="col">Donor</div>
                <div class="col">Amount</div>
                <div class="col">Status</div>
              </div>

              <div class="row" *ngFor="let p of dfs">
                <div class="col">{{p.donor_name}}</div>
                <div class="col">ZWL${{p.amount}}</div>
                <div class="col">
                    <div *ngIf="p.received == 0; else elseBlock">
                        <form (submit)="confirmFees()" [formGroup]="feesData">
                          <ion-input type="hidden" formControlName="id" value="{{p.id}}"></ion-input> <!-- [(ngModel)]="account.password" -->
                          <button button ion-button color="secondary">Confirm</button>
                      </form>
                    </div>
                    <ng-template #elseBlock>Received</ng-template>
                </div>
              </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12 style="margin-left: auto;margin-right: auto;display: block;text-align:center;">
            <h1>Organ Needs</h1>
              <ion-list>
                  <button ion-item *ngFor="let p of os" #item (click)="viewMore(item,p.id)">
                    <h2><b>{{p.organ}}</b></h2>
                    <span class="job-city">{{p.specs}}</span>
                    <br>
                  </button>
                </ion-list>
                <h1>Organ Donations</h1>
                <div class="row header">
                    <div class="col">Donor</div>
                    <div class="col">Note</div>
                    <div class="col">Received</div>
                  </div>
  
                  <div class="row" *ngFor="let p of dos">
                    <div class="col">{{p.donor_name}}</div>
                    <div class="col">{{p.note}}</div>
                    <div class="col">
                        <div *ngIf="p.received == 0; else elseBlock">
                            <form (submit)="confirmOrgan()" [formGroup]="organData">
                                <ion-input type="hidden" formControlName="id" value="{{p.id}}"></ion-input> <!-- [(ngModel)]="account.password" -->
                                <button button ion-button color="secondary">Confirm</button>
                            </form>
                        </div>
                        <ng-template #elseBlock>Received</ng-template>
                    </div>
                  </div>
            </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>  