<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Patient Details</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <!-- <p class="instructions">Good day, here are the latest patients appealing for help. You can click on a patient to view their needs and more patient details</p> -->
    <ion-grid>
        <ion-row>
          <ion-col col-12 style="margin-left: auto;margin-right: auto;display: block;text-align:center;">
            <ion-list>
                <button ion-item *ngFor="let p of ps" #item (click)="viewMore(item,p.id)">
                  <ion-thumbnail item-start>
                    <img src="{{global.serverAddress}}uploads/pictures/{{p.picture}}">
                  </ion-thumbnail>
                  <h2>{{p.first_name}} {{p.surname}} - {{p.mi_name}}</h2>
                  <span class="job-city">{{p.disease}}</span>
                  <br>
                  <span class="job-city">{{p.description}}</span>
                </button>
              </ion-list>
          </ion-col>
        </ion-row>

          <ion-row>
            <ion-col col-12 style="margin-left: auto;margin-right: auto;display: block;text-align:center;">
              <h1>Fees Needs</h1>
              <ion-list>
                  <button ion-item *ngFor="let p of fs" #item (click)="viewMore(item,p.id)">
                    <h2><b>ZWL${{p.amount}} </b></h2>
                    <span class="job-city">{{p.note}}</span>
                    <br>
                  </button>
                </ion-list>

                <h1>Fees Donations</h1>
                <div class="row header">
                  <div class="col">Donor</div>
                  <div class="col">Amount</div>
                  <div class="col">Received</div>
                </div>

                <div class="row" *ngFor="let p of dfs">
                  <div class="col">{{p.donor_name}}</div>
                  <div class="col">ZWL${{p.amount}}</div>
                  <div class="col">
                      <div *ngIf="p.received == 1; else elseBlock">Yes</div>
                      <ng-template #elseBlock>Not Yet</ng-template>
                  </div>
                </div>

                <h1>Donate Fees</h1>
                <form (submit)="donateFees()" [formGroup]="formData">
                  <ion-list>
            
                    <ion-item>
                      <ion-label floating>Amount</ion-label>
                      <ion-input type="number" formControlName="amount" [(ngModel)]="fd.amount" ></ion-input> <!-- [(ngModel)]="account.password" -->
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Proof of Payment (Specify platform name and transaction ID )</ion-label>
                      <ion-input type="text" formControlName="proof" [(ngModel)]="fd.proof"></ion-input> <!-- [(ngModel)]="account.password" -->
                    </ion-item>
              
                    <div padding>
                      <button ion-button color="secondary" [disabled]="!formData.valid" block>Donate</button>
                    </div>

                    <ion-item>
                      <div class="errors">
                          <p *ngIf="formData.controls['amount'].errors" class="danger">The donated amount is required</p>
                          <p *ngIf="formData.controls['proof'].errors" class="danger">Payment details are required</p>
                        </div>
                    </ion-item>
              
                  </ion-list>
                </form>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-12 style="margin-left: auto;margin-right: auto;display: block;text-align:center;">
              <h1>Organ Needs</h1>
                <ion-list>
                    <button ion-item *ngFor="let p of os" #item (click)="viewMore(item,p.id)">
                      <h2><b>{{p.organ}}</b></h2>
                      <span class="job-city">{{p.specs}}</span>
                      <br>
                    </button>
                  </ion-list>
                  <h1>Organ Donations</h1>
                  <div class="row header">
                      <div class="col">Donor</div>
                      <div class="col">Note</div>
                      <div class="col">Received</div>
                    </div>
    
                    <div class="row" *ngFor="let p of dos">
                      <div class="col">{{p.donor_name}}</div>
                      <div class="col">{{p.note}}</div>
                      <div class="col">
                          <div *ngIf="p.received == 1; else elseBlock">Yes</div>
                          <ng-template #elseBlock>Not Yet</ng-template>
                      </div>
                    </div>

                     <div> <!--*ngIf="this.os.count > 0"-->
                      <form (submit)="donateOrgan()" [formGroup]="formDataForOrganDonation">
                        <ion-list>
                  
                          <ion-item>
                              <ion-label floating>Organ</ion-label>
                              <ion-select cancelText="Cancel" okText="Select" formControlName="donation" [(ngModel)]="od.donation"> <!--  -->
                                <ion-option *ngFor="let b of os" value="{{b.id}}">{{b.organ}}</ion-option>
                              </ion-select>
                          </ion-item>
      
                          <ion-item>
                            <ion-label floating>Notes</ion-label>
                            <ion-input type="text" formControlName="note" [(ngModel)]="od.note"></ion-input> <!-- [(ngModel)]="account.password" -->
                          </ion-item>
                    
                          <div padding>
                            <button ion-button color="secondary" [disabled]="!formDataForOrganDonation.valid" block>Donate</button>
                          </div>
      
                          <ion-item>
                            <div class="errors">
                                <p *ngIf="formDataForOrganDonation.controls['donation'].errors" class="danger">Select at least one organ to donate</p>
                                <p *ngIf="formDataForOrganDonation.controls['note'].errors" class="danger">Donation details are required</p>
                              </div>
                          </ion-item>
                    
                        </ion-list>
                      </form>
                    </div>
              </ion-col>
          </ion-row>


              <ion-row>
                  <ion-col col-12 style="margin-left: auto;margin-right: auto;display: block;text-align:center;">
                      <h1>Campaigns</h1>
                    <p>Through campaigns, you can get more people who are not on this application getting involved in helping this patient. Share it with your fans, family and friends on any platform of your choice for example Facebook, Twitter, Instagram, YouTube and Sasai. You can share your campaigns using the following platforms and when your followers click on it, and donate, the donation will appear as if its coming from you. Copy link below</p>
                    <p>Copy this link and share your posts with this campaign: </p>
                    <!-- <div *ngIf="this.cas.length > 0; else elseBlock"> -->
                        
                      <p class="header">{{this.global.serverAddress}}campaign-response.php?donor={{this.global.session}}&patient={{this.id}}</p>
                      <!-- </div>
                      <ng-template #elseBlock>
                        Create Campaign
                      </ng-template> -->
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col col-12 style="margin-left: auto;margin-right: auto;display: block;text-align:center;">
                    <h1>Expenses Feedback</h1>
                    <div class="row header">
                        <div class="col">Institution</div>
                        <div class="col">Service Done</div>
                        <div class="col">Amount</div>
                        <div class="col">Approved</div>
                      </div>

                      <div class="row" *ngFor="let p of exs">
                        <div class="col">{{p.institution}}</div>
                        <div class="col">{{p.service}}</div>
                        <div class="col">{{p.amount}}</div>
                        <div class="col">
                            <div *ngIf="p.approved == 1; else elseBlock">Yes</div>
                            <ng-template #elseBlock>Not Yet</ng-template>
                        </div>
                      </div>

                      <!-- <div *ngIf="this.cos.length > 0">
                        <div *ngFor="let p of cos">
                            <p>Raised By - {{p.donor_name}}, Datetime - {{p.dt}}</p>
                            <p><b>{{p.court}}</b></p>
                            <p>{{p.updates}}</p>
                        </div>                        
                      </div> -->
                      
                  </ion-col>
              </ion-row>
      </ion-grid>
  </ion-content>  