<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>MoHCC Funding Application ({{this.global.role}}s section)</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <!-- <p class="instructions">Good day, here are the latest patients appealing for help. You can click on a patient to view their needs and more patient details</p> -->
    <ion-grid>
        <ion-row>
            <ion-col col-12 style="margin-left: auto;margin-right: auto;display: block;text-align:center;">
              <h1>Expenses Feedback</h1>
              <div class="row header">
                  <div class="col">Institution</div>
                  <div class="col">Service Done</div>
                  <div class="col">Amount</div>
                  <div class="col">Approved</div>
                </div>

                <div class="row" *ngFor="let p of exs">
                  <div class="col">{{p.institution}}</div>
                  <div class="col">{{p.service}}</div>
                  <div class="col">{{p.amount}}</div>
                  <div class="col">
                      <div *ngIf="p.approved == 1; else elseBlock">Yes</div>
                      <ng-template #elseBlock>Not Yet</ng-template>
                  </div>
                </div>
                
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 style="margin-left: auto;margin-right: auto;display: block;text-align:center;">
              <h1>Add Expense</h1>
              <form (submit)="addExpense()" >
                  <ion-list>
            
                    <ion-item>
                        <ion-label floating>Institution</ion-label>
                        <ion-input type="text" name="institution" [(ngModel)]="exe.institution"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Service</ion-label>
                      <ion-input type="text" name="note" [(ngModel)]="exe.service"></ion-input> 
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Amount Paid</ion-label>
                      <ion-input type="number" min="1" step="0.01" name="amount" [(ngModel)]="exe.amount"></ion-input> <!-- [(ngModel)]="account.password" -->
                    </ion-item>

                    <div padding>
                      <button ion-button color="secondary" block>Add Expenses</button>
                    </div>
              
                  </ion-list>
                </form>

            </ion-col>
        </ion-row>
        </ion-grid>
  </ion-content>  