<ion-header>

    <ion-navbar>
      <ion-title>Register for an Account</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
      <ion-grid>
          <ion-row>
            <!-- <ion-col col-2></ion-col> -->
            <ion-col col-12 style="margin-left: auto;margin-right: auto;display: block;text-align:center;">
              <form (submit)="register()" [formGroup]="formData">
                <ion-list>
                  <ion-item>
                    <ion-label>First Name</ion-label>
                    <ion-input [(ngModel)]="data.first_name" formControlName="first_name" required=""></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Surname</ion-label>
                    <ion-input [(ngModel)]="data.surname" formControlName="surname" required=""></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>National ID</ion-label>
                    <ion-input [(ngModel)]="data.nat_id" formControlName="nat_id" required="" placeholder="Eg. 582003415G58"></ion-input>
                  </ion-item>
  
                  <ion-item>
                    <ion-label>Phone</ion-label>
                    <ion-input [(ngModel)]="data.phone" formControlName="phone" placeholder="Eg. 774752233"></ion-input>
                  </ion-item>
           
            
                  <ion-item>
                    <ion-label>Password</ion-label>
                    <ion-input [(ngModel)]="data.password" min="8" max="12" formControlName="password" type="password"></ion-input>
                  </ion-item>
                </ion-list>
  
                <ion-item>
                  <div class="errors">
                      <p *ngIf="formData.controls['first_name'].errors" class="danger">First name is required and must be above 2 characters and less than 15 characters</p>
                      <p *ngIf="formData.controls['surname'].errors" class="danger">Surname is required and must be above 2 characters and less than 15 characters</p>
                      <p *ngIf="formData.controls['nat_id'].errors" class="danger">A national ID is required and must be valid. </p>
                      <p *ngIf="formData.controls['phone'].errors" class="danger">Enter a valid phone number </p>
                      <p *ngIf="formData.controls['password'].errors" class="danger">A password is required and it must be between 8 nd 12 characters</p>
                    </div>
              </ion-item>
            
                <div padding>
                  <button ion-button color="secondary" [disabled]="!formData.valid" block>Register</button>
                </div>
              </form>

              <button ion-button color="secondary" block (click)="login()">Already have an account? Click to login</button>
            </ion-col>
            <!-- <ion-col col-2></ion-col> -->
          </ion-row>
        </ion-grid>
  
        
  
  
    
  </ion-content>
  