  <ion-header>
      <ion-navbar>
        <button menuToggle *ngIf="!selectedItem">
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Chapter {{selectedItem.title}} - {{selectedItem.note}}</ion-title>
      </ion-navbar>
    </ion-header>


  <ion-content>
      <!-- <h3 text-center *ngIf="selectedItem">
        Chapter {{selectedItem.title}} - {{selectedItem.note}}
      </h3> -->
      <p *ngIf="selectedItem.title == 1">
          <img src="assets/manual/1/1.jpg" width="100%" height="auto" style="display:inline-block" />
          <img src="assets/manual/1/2.jpg" width="100%" height="auto" style="display:inline-block" />
      </p>
      <p *ngIf="selectedItem.title == 2">
          <img src="assets/manual/2/2.jpg" width="100%" height="auto" style="display:inline-block" />
          <img src="assets/manual/2/1.jpg" width="100%" height="auto" style="display:inline-block" />
      </p>
      <p *ngIf="selectedItem.title == 3">
          <img src="assets/manual/3/2.jpg" width="100%" height="auto" style="display:inline-block" />
          <img src="assets/manual/3/1.jpg" width="100%" height="auto" style="display:inline-block" />
      </p>
      <p *ngIf="selectedItem.title == 4">
          <img src="assets/manual/4/1.jpg" width="100%" height="auto" style="display:inline-block" />
          <img src="assets/manual/4/2.jpg" width="100%" height="auto" style="display:inline-block" />
      </p>
      <p *ngIf="selectedItem.title == 5">
          <img src="assets/manual/5/1.jpg" width="100%" height="auto" style="display:inline-block" />
          <img src="assets/manual/5/2.jpg" width="100%" height="auto" style="display:inline-block" />
      </p>
      <p *ngIf="selectedItem.title == 6">
          <img src="assets/manual/6/1.jpg" width="100%" height="auto" style="display:inline-block" />
          <img src="assets/manual/6/2.jpg" width="100%" height="auto" style="display:inline-block" />
      </p>
      <p *ngIf="selectedItem.title == 7">
          <img src="assets/manual/7/1.jpg" width="100%" height="auto" style="display:inline-block" />
          <img src="assets/manual/7/2.jpg" width="100%" height="auto" style="display:inline-block" />
      </p>
      <p *ngIf="selectedItem.title == 8">
          <img src="assets/manual/8/1.jpg" width="100%" height="auto" style="display:inline-block" />
          <img src="assets/manual/8/2.jpg" width="100%" height="auto" style="display:inline-block" />
      </p>
      <p *ngIf="selectedItem.title == 9">
          <img src="assets/manual/9/1.jpg" width="100%" height="auto" style="display:inline-block" />
          <img src="assets/manual/9/2.jpg" width="100%" height="auto" style="display:inline-block" />
      </p>
      <p *ngIf="selectedItem.title == 10">
          <img src="assets/manual/10/1.jpg" width="100%" height="auto" style="display:inline-block" />
          <img src="assets/manual/10/2.jpg" width="100%" height="auto" style="display:inline-block" />
      </p>
      <p *ngIf="selectedItem.title == 11">
          <img src="assets/manual/11/1.jpg" width="100%" height="auto" style="display:inline-block" />
          <img src="assets/manual/11/2.jpg" width="100%" height="auto" style="display:inline-block" />
      </p>


  </ion-content>>
