<ion-header>
    <ion-navbar style="height:75px;">
      <button ion-button menuToggle left>
        <ion-icon name="menu">&nbsp;BYMF Events</ion-icon>
      </button>
      <button ion-button menuToggle right>
        <img src="assets/imgs/logo.jpg" width="75px" height="75px" style="display:inline-block" />
      </button>
    </ion-navbar>
  </ion-header>


  <ion-content>
    <br><br><br>

    <div *ngIf="this.events.length == 0; else elseBlock">There are no upcoming events. You may need to connect to the internet to view recently added events. </div>
    <ng-template #elseBlock>
        <ion-list>
            <button ion-item *ngFor="let i of events">
              <!-- <ion-icon name="" item-left>{{i.nothing}}</ion-icon> -->
                <h2>{{i.event}}</h2>
                <br>
                <ion-icon name="calendar">
                  &nbsp;{{i.dates}}
                </ion-icon>
                <br>
                <ion-icon name="home">&nbsp;{{i.venue}}</ion-icon>
                <div class="item-note" item-right> 
                </div>
            </button>
          </ion-list>
    </ng-template>
  </ion-content>
